#bes-fields-container .bes-field-item { 
    border:1px solid #ddd; 
    padding:10px; 
    margin-bottom:5px; 
    background:#fafafa; 
    cursor:move; 
}

#bes-preview img { max-width:120px; margin-bottom:5px; }
#bes-fields-container input, #bes-fields-container textarea, #bes-fields-container select { width:100%; padding:5px; margin-bottom:5px; }
